<div class="row" style="margin-top:40px; background-color:#00CED1;border-radius:15px;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">

  <div class="col-sm-12">
      <div class="jumbotron">
          <h1 class="display-4">Hello, {{username}}! </h1>
          <p class="lead">Your current balance is £{{balance}}.</p>
          <hr class="my-4">
            <div class="form-group">
              <label for="deposite-number-input" class="col-0 col-form-label"></label>
              <div class="col-13">
                <input class="form-control" type="number" value="" id="deposite_number_input" placeholder="Enter amount to deposite" [(ngModel)] = 'newBalance'>
              </div>
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-4" role="group" aria-label="First group">
                <button class="btn btn-primary btn-lg" role="button" (click)="updateBalance()">Deposite</button>
                </div>
              <div class="btn-group mr-3 ml-3" role="group" aria-label="second group">
                <button class="btn btn-secondary btn-lg" role="button" (click)="withdrawBalance()">Withdraw</button>
                </div>
              <div class="btn-group ml-4" role="group" aria-label="third group">
                <button class="btn btn-danger btn-lg" role="button" (click)="logout()">Logout</button>
              </div>
          </div> 
        </div>
        </div>
</div>
