<div class="row" style="margin-top:40px; background-color:#00CED1;border-radius:15px;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">

  <div class="col-sm-12">
      <div class="jumbotron">
          <h1 class="display-4">About Keenan's Kash App</h1>
          <p class="lead">This web application is an online bank account app which allows new and existing users to deposite and withdraw funds from their account. This is a MEAN stack application which was made with the use of many libraries such as Bootstrap and Material for the css and design aspect of the website, and Passport for the login account authenticaion. </p>
          <hr class="my-4">
          <h1 class="display-3">Libraries used below</h1>
          <h2 class="display-1"><a href>https://getbootstrap.com/</a></h2>
          <h2 class="display-4"><a href>https://material.angularjs.org/latest/getting-started</a></h2>
          <h2 class="display-5"><a href>http://www.passportjs.org/</a></h2>
        </div>
        </div>
</div>
