<div class="row" style="margin-top:40px; background-color:#00CED1;border-radius:15px;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">

  <div class="col-sm-12">
      <div class="jumbotron">
          <h1 class="display-4">About Keenan's Kash App</h1>
          <p class="lead">This web application is a MEAN stack online bank account app which allows new and existing users to deposit and withdraw funds from their account. 
            This application was made with the use of many libraries, such as Bootstrap and Material for the css and design aspect of the website,
             and Passport for the login account authenticaion.</p>
          <hr class="my-4">
          <h1 class="display-3">Libraries I used</h1>
          <a class="navbar-brand" href="https://getbootstrap.com/">
            <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="Bootstrap icon">
            Bootstrap
          </a>
          <a class="navbar-brand" href="https://material.angularjs.org/latest/getting-started">
            <img src="https://material.angularjs.org/latest/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="AngularJS Material icon">
            AngularJS Material
          </a>
          <a class="navbar-brand" href="http://www.passportjs.org/">
            <img src="https://cdn.glitch.com/project-avatar/0d184ee3-fd8d-4b94-acf4-b4e686e57375.png?2016-11-21T13:18:58.896Z" width="30" height="30" class="d-inline-block align-top" alt="PassportJS icon">
            PassportJS
          </a>
        </div>
        </div>
</div>
